{{ define "main" }}
  <h1 class="heading">{{ safeHTML .Params.heading }}</h1>
  <p class="subheading">{{ .Params.subheading }}</p>
  <div class="actions">
    <a class="btn btn-primary" href="javascript:"><i data-feather="play-circle"></i>Watch teaser</a>
    <a class="btn" href="/guides/getting-started">Get started</a>
  </div>
  <div class="additional-links">
    <ul>
      <li>
        Latest: {{ .Params.latest_version }}
      </li>
      <li>
        <a href="{{ .Params.latest_version_download_url }}">Download</a>
      </li>
      <li>
        <a href="https://github.com/VRMADA/ultimatexr-unity" target="_blank">GitHub</a>
      </li>
      <li>
        <a href="https://github.com/VRMADA/ultimatexr-unity/blob/main/LICENSE" target="_blank">License: MIT</a>
      </li>
    </ul>
  </div>
{{ end }}

{{ define "top" }}
  <div id="container-trailer">
    <video
      id="trailer"
      class="video-js"
      controls
      preload="auto"
      data-setup="{}"
      >
      <source src="https://vrmada.box.com/shared/static/3yv91i56echpr86om1i38qi7eod0me4v.mp4" type="video/mp4">
    </video>
  </div>
{{ end }}
