/* Inline code */

main :not(pre)>code {
  background-color: var(--uxr-color-light-2);
  padding: .15em .4em;
  border-radius: 4px;
  font-family: var(--uxr-font-family-monospace);
  color: var(--uxr-color-dark);
  transition: color .5s, background-color .5s;
  white-space: nowrap;
}

/* Code blocks */

.highlight {
  border-radius: .375rem;
  margin: 2em 0;
  font-family: var(--uxr-font-family-monospace);
  background-color: var(--uxr-color-code-background);
  overflow-x: auto;
}

.highlight pre {
  padding: 1em 0;
  background-color: var(--uxr-color-code-background) !important;
}

.highlight code {
  display: inline-block;
}

.highlight code > span > span {
  padding: 0 1em;
}

/* Fixes iOS font sizing anomaly */
code {
  text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* The scrollbar track */
.highlight::-webkit-scrollbar {
  width: 8px; /* Width of the vertical scrollbar */
  height: 8px; /* Height of the horizontal scrollbar */
  background: transparent;
}

/* The scrollbar handle */
.highlight::-webkit-scrollbar-thumb {
  background: var(--uxr-color-light); /* Scrollbar handle color */
  border-radius: 8px; /* Roundness of the scrollbar handle */
}

/* The scrollbar handle when rolling over highlight */
.highlight:hover::-webkit-scrollbar-thumb {
  background: var(--uxr-color-scrollbar-active);
}

/* The scrollbar handle on hover */
.highlight::-webkit-scrollbar-thumb:hover {
  background: var(--uxr-color-scrollbar-active);
}
