/* Hide all non-namespace nodes */
body.type-api #content {
  visibility: hidden;
}

body.type-api #content.loaded {
  visibility: visible;
}

body.type-api #content ul > li > ul > li > ul {
  display: none;
}

body.type-api #content #sidebar li > a span {
  display: none;
}

/* Use first node as sidebar title */
body.type-api #content #sidebar > ul > li > a {
  font-weight: 700;
  color: var(--uxr-color);
  line-height: 32px;
}

/* Remove side padding of empty headings to avoid unnecessary spacing with narrow icons */
body.type-api #content table tr th:empty {
  padding-left: 0px;
  padding-right: 0px;
}


/* Icons in tables - vertical align and no line break*/
body.type-api #content table tr td:first-child {
  padding-left: 0px;
  padding-right: 0px;
  white-space: nowrap;
}

body.type-api #content table tr td:first-child img {
  position: relative;
  top: 2px;
  vertical-align: middle;
  line-height: 24px;
  white-space: nowrap;
  max-width: fit-content;
  margin: 0;
}

/* Back to top links after tables */
body.type-api #content table + a[href]:where([href^="#"]) {
  display: none;
}

/* Styling parameters list */
body.type-api h4#parameters + p {
  display: none;
}

body.type-api h4#parameters + p + dl dt {
  font-weight: 600;
}

body.type-api h4#parameters + p + dl dd {
  margin-bottom: 1.2em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}