.callout {
  position: relative;
  margin-block: 1em 1em;
  padding: 1em;
  color: oklch(from var(--uxr-color-callout-info) calc(l / 1.2) c h);
  background-color: hsl(from var(--uxr-color-callout-info) h s l / .1);
  border-left: 4px solid var(--uxr-color-callout-info);
}

.callout .title {
  color: inherit;
  font-weight: 600;
  text-transform: uppercase;
  margin-left: 2em;
  margin-bottom: .5em;
}

.callout svg {
  position: absolute;
  width: 20px;
  height: 20px;
  margin-top: 2px;
  stroke-width: 2.25px;
  color: inherit;
}

.callout a {
  color: inherit;
  font-weight: 600;
}

.callout a:hover {
  opacity: .8;
}

.callout code {
  color: oklch(from var(--uxr-color-callout-info) calc(l / 1.6) c h);
  background-color: hsl(from var(--uxr-color-callout-info) h s l / .2);
}

.callout.tip {
  color: oklch(from var(--uxr-color-callout-tip) calc(l / 1.2) c h);
  border-color: var(--uxr-color-callout-tip);
  background-color: hsl(from var(--uxr-color-callout-tip) h s l / .1);
}

.callout.tip code {
  color: oklch(from var(--uxr-color-callout-tip) calc(l / 1.6) c h);
  background-color: hsl(from var(--uxr-color-callout-tip) h s l / .2);
}

.callout.caution {
  color: oklch(from var(--uxr-color-callout-caution) calc(l / 1.2) c h);
  border-color: var(--uxr-color-callout-caution);
  background-color: hsl(from var(--uxr-color-callout-caution) h s l / .1);
}

.callout.caution code {
  color: oklch(from var(--uxr-color-callout-caution) calc(l / 1.6) c h);
  background-color: hsl(from var(--uxr-color-callout-caution) h s l / .2);
}

.callout.warning {
  color: oklch(from var(--uxr-color-callout-warning) calc(l / 1.2) c h);
  border-color: var(--uxr-color-callout-warning);
  background-color: hsl(from var(--uxr-color-callout-warning) h s l / .1);
}

.callout.warning code {
  color: oklch(from var(--uxr-color-callout-warning) calc(l / 1.6) c h);
  background-color: hsl(from var(--uxr-color-callout-warning) h s l / .2);
}