/* Inline code */

main :not(pre,h1,h2,h3,h4,h5,h6)>code {
  white-space: nowrap;
}

main :not(pre,h1,h2,h3,h4,h5,h6)>code {
  background-color: var(--uxr-color-light);
  padding: .15em .4em;
  border-radius: 4px;
  font-family: var(--uxr-font-family-monospace);
  color: var(--uxr-color-primary);
  transition: color .5s, background-color .5s;
}


/* Code blocks */

.highlight {
  border-radius: .375rem;
  margin: var(--uxr-el-vertical-margin) 0;
  font-family: var(--uxr-font-family-monospace);
  background-color: #272822;
  overflow-x: auto;
}

.highlight pre {
  padding: 1em 0;
}

.highlight code {
  display: inline-block;
}


.highlight code > span > span {
  padding: 0 1em;
}

/* Fixes iOS font sizing anomaly */
code {
  text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}