/* Inline code */

main :not(pre,h1,h2,h3,h4,h5,h6)>code {
  white-space: nowrap;
}

main :not(pre,h1,h2,h3,h4,h5,h6)>code {
  background-color: var(--uxr-color-light);
  padding: .15em .25em;
  border-radius: 4px;
  font-family: var(--uxr-font-family-monospace);
  color: var(--uxr-color-primary);
  transition: color .5s, background-color .5s;
}


/* Code blocks */

.highlight {
  margin: var(--uxr-el-vertical-margin) 0;
}

.highlight pre {
  font-family: var(--uxr-font-family-monospace);
  padding: var(--uxr-page-padding);
  overflow-x: scroll;
}