header {
  position: sticky;
  top: 0px;
  background-color: var(--uxr-background-color);
  width: 100%;
  z-index: 10;
  border-bottom: 1px solid var(--uxr-divider-color);
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--uxr-page-padding);
}

header a {
  text-decoration: none;
}

header .logo-ultimatexr {
  width: 160px;
  height: 28px;
  background-image: url('/images/logo-ultimatexr.svg');
  background-repeat: no-repeat;
  background-position: center left;
}

.nav-main {
  position: absolute;
  z-index: 99;
  background-color: var(--uxr-color-secondary);
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  padding: 64px 15px 15px;
  transition: all 1s linear;
  -webkit-transition: opacity .2s linear;
  opacity: 0;
  pointer-events: none;
}

.nav-main > .menu-main > li {
  border-top: 1px solid rgba(255, 255, 255, .35);
}

.nav-main li a {
  display: block;
  margin: .8rem 0;
}

.nav-main a {
  color: #fff;
  font-size: 21px;
  line-height: 42px;
}

.nav-main.open {
  opacity: 1;
  pointer-events: all;
}

.nav-main .sub-menu a {
  padding-left: 15px;
  font-size: 16px;
  line-height: 28px;
}

.menu-button {
  display: flex;
}

.menu-button svg {
  width: 32px;
  height: 32px;
}

#menu-button-open {
  color: var(--uxr-color-primary);
}

#menu-button-close {
  display: flex;
  position: absolute;
  top: 15px;
  right: 15px;
  color: #fff;
}

@media (min-width: 768px) {
  #menu-button-open,
  #menu-button-close {
    display: none;
  }

  header .container {
    padding-top: 30px;
    padding-bottom: 0px;
  }
  
  header .logo-ultimatexr {
    position: relative;
    top: -14px;
    width: 220px;
    height: 38px;
  }

  .nav-main {
    background-color: transparent;
    position: static;
    opacity: 1;
    width: 100%;
    height: auto;
    left: auto;
    padding: 0;
    align-self: flex-end;
    pointer-events: initial;
  }

  .nav-main li a {
    color: var(--uxr-color-primary);
    display: flex;
    align-items: center;
    margin: 0;
    line-height: 48px;
    font-size: 13px;
  }

  .nav-main ul {
    display: flex;
    justify-content: flex-end;
  }

  .nav-main > .menu-main > li {
    position: relative;
    padding-right: min(5vw, 80px);
    border-top: none;
  }

  .nav-main .sub-menu {
    background: var(--uxr-color-light-2);
    position: absolute;
    flex-direction: column;
    left: -15px;
    border-top: 1px solid var(--uxr-color-light-2);
    padding: 10px;
    margin-top: 6px;
    min-width: 140px;
    opacity: 0;
    pointer-events: none;
    transition: all .2s;
    border-radius: 3px;
  }

  .nav-main .sub-menu:before {
    content: "";
    background: var(--uxr-color-light-2);
    clip-path: polygon(50% 50%,0 100%,100% 100%);
    display: block;
    -webkit-clip-path: polygon(50% 50%,0 100%,100% 100%);
    height: 18px;
    width: 20px;
    position: absolute;
    top: -18px;
    left: calc(50%-20px);
  }

  .nav-main .sub-menu a {
    padding: 0px 5px;
    font-size: 13px;
    line-height: 32px;
  }

  .nav-main > .menu-main > li:last-of-type {
    padding-right: 0;
  }

  .nav-main > ul > li > a {
    font-weight: 500;
  }

  .nav-main li a:hover {
    color: var(--uxr-color-secondary);
  }

  .nav-main li:hover .sub-menu {
    opacity: 1;
    margin-top: 0px;
    pointer-events: all;
  }

  .nav-main svg {
    margin-left: 4px;
    width: 16px;
    height: 16px;
  }
}

@media (min-width: 992px) {
  header .container {
    padding-top: 40px;
  } 

  .nav-main .sub-menu a {
    font-size: 14px;
    line-height: 36px;
  } 

  .nav-main li a {
    font-size: 14px;
    line-height: 60px;
  }
}

@media print {
  header {
    display: none;
  }
}