body.kind-home {
  background-color: var(--uxr-color-primary);
  color: #fff;
}

body.kind-home a {
  color: #fff;
}

body.kind-home header {
  background-color: var(--uxr-color-primary);
  border-bottom: none;
}

body.kind-home footer {
  background-color: transparent;
}

body.kind-home header .logo-ultimatexr {
  background-image: url('/images/logo-ultimatexr-white.svg');
}

body.kind-home #menu-button-open {
  color: #fff;
}

body.kind-home #content .container {
  display: block;
  text-align: center;
  max-width: 1024px;
  padding-top: 30px;
}

body.kind-home h1 {
  font-size: 36px;
  line-height: 45px;
  font-weight: 700;
  margin-bottom: var(--uxr-el-vertical-margin);
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
}

body.kind-home .subheading {
  line-height: 1.75;
}

body.kind-home .actions {
  margin: var(--uxr-el-vertical-margin) 0px;
}

body.kind-home .btn:not(.btn-primary) {
  color: rgba(241, 241, 241, .85);
  border: 1px solid rgba(241, 241, 241, .85);
  background-color: transparent;
}

body.kind-home .additional-links {
  margin-bottom: var(--uxr-el-vertical-margin);
}

body.kind-home .additional-links ul li {
  font-size: 14px;
  display: inline-block;
}

body.kind-home .additional-links ul li:not(:last-of-type)::after {
  content: '·';
  padding: 0px 10px;
  opacity: .85;
}



@media (min-height: 600px) and (min-width: 820px) {
  body.kind-home footer {
    position: absolute;
    bottom: 0px;
  }

  body.kind-home #content .container {
    position: absolute;
    padding-top: 0px;
    top: calc(50% + 10px);
    left: 50%;
    transform: translate(-50%, calc(-50% + 10px));
  }
}

@media (min-width: 768px) {
  body.kind-home .actions .btn {
    min-width: 200px;
    margin-left: 10px;
    margin-right: 10px;
  }

  body.kind-home .nav-main a {
    color: #fff;
  }

  body.kind-home .additional-links {
    margin-bottom: 0px;
  }
}

@media (min-width: 992px) {
  body.kind-home #content .container {
    padding-top: 0px;
  }

  body.kind-home h1 {
    font-size: 42px;
    line-height: 52px;
    max-width: 850px;
  }
}

@media (min-width: 1200px) {
  body.kind-home h1 {
    font-size: 48px;
    line-height: 60px;
    max-width: 1000px;
  }
}