*, :before, :after {
  box-sizing: border-box;
}

html {
  scroll-padding-top: 107px; /* Scrolling to anchors with sticky header offset */
}

body {
  font-family: var(--uxr-font-family);
  background-color: var(--uxr-background-color);
  color: var(--uxr-color-text-body);
  font-size: var(--uxr-font-size);
  line-height: var(--uxr-line-height);
}

.container {
  width: 100%;
  max-width: var(--uxr-max-width);
  padding: 0 var(--uxr-page-padding);
  margin-left: auto;
  margin-right: auto;
}

#content {
  display: flex;
  width: 100%;
  min-height: 100%;
}

.overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  transition: opacity .3s;
  pointer-events: none;
  z-index: 100;
}

.overlay.open {
  opacity: 1;
  pointer-events: all;
}

main {
  padding: var(--uxr-el-vertical-margin) 0px;
  width: 100%;
  overflow-x: hidden;
}

main img {
  display: block;
  max-width: 100%;
  margin: var(--uxr-el-vertical-margin) auto;
}

@media (min-width: 768px) {
  main {
    padding: var(--uxr-el-vertical-margin) 0px;
  }
}

@media (min-width: 992px) {
  main {
    padding: var(--uxr-el-vertical-margin) 0px;
  }

  #content > .container {
    display: grid;
    grid-template-areas: "sidebar main";
    grid-template-columns: 1fr 10fr;
    gap: 1.5rem;
  }
}

@media (min-width: 1200px) {
  #content > .container {
    grid-template-areas: "sidebar main toc";
    grid-template-columns: 1fr 10fr 1fr;
  }
}