#sidepane {
  display: none;
}

#sidepane .wrapper {
  display: flex;
  flex-direction: column;
}

#sidepane aside {
  margin-bottom: 1.6rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid var(--uxr-divider-color);
}

#sidepane aside:last-of-type {
  margin-bottom: 0;
  border-bottom: none;
}

#sidepane h3 {
  color: var(--uxr-color-headings);
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 4px;
}

#sidepane li {
  position: relative;
  display: list-item;
  transition: padding .3s;
}

#sidepane li a {
  display: block;
  font-size: 13px;
  font-weight: 400;
  color: var(--uxr-color-text-body);
  transition: color .5s;
  line-height: 28px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 2px 0px;
}

/* workaround to force icon vertical centering and ellipsis working */
#sidepane li a:has( > svg) {
  margin-left: 26px;
}

#sidepane li a:hover,
#sidepane li.active a {
  color: var(--uxr-color-secondary);
}

#sidepane li.active {
  padding-left: 5px;
}

#sidepane li svg {
  position: absolute;
  left: 0px;
  top: 6px;
  width: 18px;
  height: 18px;
  stroke-width: 1.6px;
}

@media (min-width: 1200px) {
  #sidepane {
    display: block;
    margin-left: 20px;
    width: 220px;
    
  }

  #sidepane > .wrapper {
    position: sticky;
    padding-top: calc(var(--uxr-el-vertical-margin) * 1.5);
    top: 101px;
  }
}