#container-trailer {
  position: absolute;
  padding-top: 0px;
  top: calc(50% + 10px);
  left: 50%;
  transform: translate(-50%, calc(-50% + 10px));
  z-index: 110;
  opacity: 0;
  pointer-events: none;
  transition: opacity .3s;
}

#container-trailer.open {
  opacity: 1;
  pointer-events: all;
  transition: opacity 1s;
}

#trailer {
  width: 320px;
  height: 180px;
}

#trailer.video-js .vjs-big-play-button {
  border-radius: 0;
  border: none;
  top: calc(50% + 10px);
  left: 50%;
  transform: translate(-50%, calc(-50% + 10px));
  background-color: var(--uxr-color-secondary);
}

@media (min-width: 768px) {
  #trailer {
    width: 640px;
    height: 360px;
  }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
  #trailer {
    width: 960px;
    height: 540px;
  }
}