strong {
  font-weight: 600;
}

h1,
h2,
h3 {
  position: relative;
  font-weight: 600;
  line-height: 1.5;
}

h1 {
  margin: 0 0 3rem;
  font-size: 3rem;
  line-height: 1.4;
  letter-spacing: -.02em;
}

h2 {
  margin: 4rem 0 1.8rem;
  border-top: 1px solid var(--uxr-color-light);
  padding-top: 1.8rem;
  font-size: 24px;
  letter-spacing: -.02em;
}

h3 {
  font-size: 19px;
  letter-spacing: -.01em;
  margin: 3rem 0 1.25rem;
}

p {
  line-height: var(--uxr-line-height);
  margin-bottom: 1.2em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

a {
  text-decoration: none;
  font-weight: 500;
  text-decoration-thickness: .1em;
  text-underline-offset: 2px;
  color: var(--uxr-color-secondary);
}

em {
  font-weight: 700;
}

main ul,
main ol {
  display: block;
  list-style: none;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-left: 1.25rem;
  margin-bottom: 1.2em;
}

main ol {
  padding-left: 0;
}

main ul ul {
  margin-block-start: 0em;
  margin-block-end: 0em;
}

main li {
  display: list-item;
  text-align: match-parent;
  position: relative;
}

main ol li {
  counter-increment: item;
  position: relative;
  padding-left: 1.5rem;
}

main ol li:before {
  position: absolute;
  left: 2px;
  font-weight: 700;
  font-size: 14px;
  color: var(--uxr-color-secondary);
  content: counter(item) ".";
}

main ul li:before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: var(--uxr-color-secondary);
  transition: background-color .5s;
  left: -1rem;
  top: 9px;
}

main a {
  font-weight: 600;
}