{{ $filePath := replace .File.Path "\\" "/" }}
<aside id="community-links">
  <h3 class="title">Community</h3>
  <ul>
    <li><a href="https://github.com/VRMADA/ultimatexr.io/edit/master/content/{{ $filePath }}" target="_blank"><i data-lucide="square-pen"></i>Edit this page on GitHub</a></li>
    <li><a href="https://github.com/VRMADA/ultimatexr-unity" target="_blank"><i data-lucide="star"></i>Star on GitHub</a></li>
    <li><a href="https://discord.gg/GXHdneaFjA" target="_blank"><i data-lucide="message-square"></i>Chat on Discord</a></li>
  </ul>
</aside>