<!DOCTYPE html>
<html>
    {{- block "head" . }}{{- end }}
    {{- partial "head.html" . -}}
    <body class="type-{{ .Type }} kind-{{ .Kind }}">
        <div class="overlay"></div>
        {{- block "top" . }}{{- end }}
        {{- partial "header.html" . -}}
        {{- partial "nav-local.html" . -}}
        <div id="content">
          <div class="container">
            <aside id="sidebar" {{ if eq $.Type "docs" }}data-turbo-permanent{{ end }}>
              <a href="javascript:;" class="btn-close">
                <i data-lucide="x"></i>
              </a>
              {{- block "sidebar" . }}{{- end }}
            </aside>
            <main>
              {{- block "main" . }}{{- end }}
            </main>
            <aside id="sidepane">
              <div class="wrapper">
                {{- block "sidepane" . }}{{- end }}
              </div>
            </aside>
          </div>
        </div>
        {{- partial "footer.html" . -}}
    </body>
</html>
