{{ $rawContent := .RawContent }}
{{ $rawContent = replaceRE `\(\s*((?:(?:,\s*)?(?:<a[^>]*?>)?\*?T[A-Z]*\*?(?:<\/a>)?)+)\s*\)` `&lt;$1&gt;` $rawContent }}
{{ $rawContent = replaceRE `(## Inheritance Hierarchy)(?:[^\n])` "$1\n" $rawContent }}
{{ $rawContent = replaceRE `<a href="(.+)" rel="noopener noreferrer" title="View the source code">View Source</a><br />` `` $rawContent }}
{{ $rawContent = replaceRE `<a href="(.+)">Back to Top</a>` `` $rawContent }}
{{ $rawContent = replaceRE `&nbsp;<table>` `<table>` $rawContent }}
{{ $rawContent = replaceRE `</table>&nbsp;` `</table>` $rawContent }}
{{ $rawContent = replaceRE `(!\[[^\]]*\]\([^\)]+\))` "\n\n$1\n\n" $rawContent }}
{{ $rawContent = replaceRE `media/([^\)]+)` "/media/api/$1" $rawContent }}
{{ $rawContent | .RenderString }}