{{ define "main" }}
  <h1 class="heading">{{ safeHTML .Params.heading }}</h1>
  <p class="subheading">{{ .Params.subheading }}</p>
  <div class="actions">
    <a class="btn btn-primary" href="javascript:"><i data-lucide="circle-play"></i>Watch teaser</a>
    <a class="btn" href="/docs/getting-started/what-is-ultimatexr">Get started</a>
  </div>
  <div class="additional-links">
    <p>Latest: {{ .Site.Params.latest_version }}</p>
    <ul>
      <li>
        <a href="https://assetstore.unity.com/packages/slug/236782" target="_blank">Unity Asset Store</a>
      </li>
      <li>
        <a href="https://github.com/VRMADA/ultimatexr-unity" target="_blank">GitHub</a>
      </li>
      <li>
        <a href="{{ .Site.Params.latest_version_download_url }}">Download</a>
      </li>
      <li>
        <a href="https://github.com/VRMADA/ultimatexr-unity/blob/main/LICENSE" target="_blank">License: MIT</a>
      </li>
    </ul>
  </div>
{{ end }}

{{ define "top" }}
  <div id="container-trailer">
    <video
      id="trailer"
      class="video-js"
      controls
      preload="none"
      data-setup="{}"
      >
      <source src="https://www.vrmada.com/assets/TeaserUltimateXR.mp4" type="video/mp4">
    </video>
  </div>
{{ end }}
